{% macro box(fontSize="font-size:var(--fs-clamped-200);", extraClasses="", showDetails = false, hideShortName = false) %}
    <div class="author-box{% if extraClasses %}{{ extraClasses }}{% endif %}">
            <script>
                window.principles = {{ principles | jsonEncode | safe }};
            </script>
            <div>
                {% if hideShortName === false %}
                    {# <h2 class="h4 font-weight-600">{{ site.authorShort }}</h2> #}
                    {% include "components/social-icons.njk" %}
                {% endif %}
                {# Quote #}
                <p class="author-box-quote" style="{{ fontSize }}">
                    <span class="author-box-quote-text"></span>
                    <span class="author-box-quote-counter"></span>
                </p>
            </div>
    </div>
{% endmacro %}
